/* color palette from <https://github.com/vuejs/theme> */

@font-face {
  font-family: Robot-Regular;
  src: url(../fonts/Noto_Sans_TC/NotoSansTC-Regular.otf);
}

@font-face {
  font-family: Robot;
  src: url(../fonts/Noto_Sans_TC/NotoSansTC-Medium.otf);
}

@font-face {
  font-family: Robot-Black;
  src: url(../fonts/Noto_Sans_TC/NotoSansTC-Black.otf);
}

@font-face {
  font-family: Robot-Bold;
  src: url(../fonts/Noto_Sans_TC/NotoSansTC-Bold.otf);
}

@font-face {
  font-family: Robot-Light;
  src: url(../fonts/Noto_Sans_TC/NotoSansTC-Light.otf);
}

@font-face {
  font-family: Robot-Thin;
  src: url(../fonts/Noto_Sans_TC/NotoSansTC-Thin.otf);
}

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  font-weight: normal;
}

#app {
  min-height: 100vh;
}

body {
  width: 100vw;
  color: black;
  background: white;
  transition: color 0.5s ease-in-out, background-color 0.5s;
  line-height: 1.6;
  font-family: Robot, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
}

.navbar {
  background-color: #170600;
  height: 100%;
  width: 120px;
  font-size: 12px;
  position: fixed;
  z-index: 1;

}

.logo {

  margin: 10px;
  text-align: center;
  margin-bottom: 40px;
}

.logo_img {
  border-radius: 50px;
  width: 70%;
}

.navList {
  width: 100%;
  background-color: #6F6F6F;
  color: white;
  border: 0px;
  position: relative;
  height: 30px;
  font-size: 12px;
  font-weight: 400;
  height: 40px;

}

.navCollapse {
  margin-top: 50px;
  margin-left: 38px;
  margin-bottom: 10px;
  font-size: 12px;
}

.navList:hover {
  background-color: #6F6F6F;
}

.navList2 {
  width: 100%;
  background-color: #170600;
  color: #909090;
  border: 0px;
  position: relative;
  height: 30px;
  font-size: 12px;
  font-weight: 400;
  height: 40px;
}


.n-collapse .n-collapse-item .n-collapse-item__header .n-collapse-item__header-main {
  color: white;
}

.personal {
  position: absolute;
  bottom: 10px;
  text-align: center;

  width: 100%;
}

.personal_img {
  width: 55%;
  border-radius: 50px;
}

.userName {
  color: #ffffff;
  top: -12px;
  text-align: left;
}

.teach {
  position: relative;

  margin-left: 130px;
}