.textbook_header {
  font-size: 30px;
  font-weight: bold;
  color: #170600;
}

.textbook_Management {
  margin-left: 20px;

}

.textbook_titleList {
  margin-top: 50px;
  background-color: #170600;
  width: 96%;
  height: 80px;
  border-radius: 10px;
  text-align: center;


}

.textbook_List {
  margin-top: 30px;
  background-color: #fff;
  width: 96%;
  height: 80px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 3px 3px gray;

}

.textbook_titlelist_text {
  display: inline-block;
  color: white;
  font-size: 18px;
  padding: 10px;
  padding-top: 22px;
  width: 20%;


}

.textbook_list_text {
  display: inline-block;
  color: #170600;
  font-size: 18px;
  padding: 10px;
  padding-top: 22px;
  width: 20%;
}

.textbookBtn {
  border-radius: 15px;
  padding: 10px;
  font-size: 18px;
}

.n-form-item .n-form-item-blank {
  display: block;
}

.center {
  text-align: center;
}

.CreatTextbookBtn {
  width: 35%;
  border-radius: 10px;
}